aws_region           = "ap-south-1"
aws_access_key       = "YOUR_AWS_ACCESS_KEY_HERE"
aws_secret_key       = "YOUR_AWS_SECRET_KEY_HERE"
environment          = "production"
bucket_name          = "docmind-pdf-storage-prod-2026"
enable_versioning    = true
cors_allowed_origins = [
  "http://localhost:5173",
  "http://localhost:8000"
]
abort_incomplete_multipart_upload_days = 7
